*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --bg-color-white: #ffffff;
  --bg-color-cream: #f8f6f2;
  --font-color: #2e2e2e;
  --muted-color: #6f6f6f;
  --accent-color: #c2a36b;
  --accent-color-hover: #b1915a;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.3rem;
}

p,
span {
  line-height: 1.5;
  font-size: 2rem;
}

section {
  padding: 5rem 0;
}

section:nth-of-type(odd) {
  background-color: var(--bg-color-white);
}

section:nth-of-type(even) {
  background-color: var(--bg-color-cream);
}
